.head {
  font-family: DM Sans;
  margin: 10px;
}
.bot-box {
  position: absolute;
  bottom: 12px;
  right: 10px;
}
#chat-button {
  width: 67px;
  height: 67px;
  cursor: pointer;
  background: linear-gradient(rgba(255, 118, 0, 1), rgba(255, 92, 0, 1));
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
#chat-button:hover {
  background: linear-gradient(rgba(255, 92, 0, 1), rgba(255, 118, 0, 1));
}
.robot {
  transform: translate(15px, 15px);
}
#popup {
  position: absolute;
  bottom: 65px;
  right: 0px;
  border-radius: 18px;
  display: none;
}
.frame {
  height: 630px;
  width: 416px;
  border: 0px;
}
